APP_ENV=local

AZURE_MAPS_KEY=your_azure_maps_key_here

KUSTO_CLUSTER_URI=https://your-cluster-uri
KUSTO_DATABASE=your_database_name
KUSTO_AUTH_MODE=device

TENANT_ID=your_tenant_id
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
